#about-summary {
  display: grid;
  grid-template-columns: 20% 80%;
}

#about-summary p {
  margin-left: 3rem;
  margin-top: 0;
  line-height: 2.5rem;
}

.about-skills li {
  line-height: 3rem;
}

#about-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about-skills-list h5 {
  margin: 2rem 4rem;
}

.paragraph {
  margin-top: 3rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 720px) {
  #about-summary {
    display: block;
  }
  #profile-image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0;
  }
  #about-summary p {
    margin-left: 0;
  }
}
