.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.about-you {
  font-weight: bold;
  font-size: 1.6rem;
}

.red-span {
  color: red;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%
}

.field input {
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.field label {
  font-size: 1.6rem;
}

#message {
  height: 30vh;
  margin: 1rem 0;
}

::placeholder {
  color: #999999;
}

.actions {
  display: flex;
  padding: 2rem 0;
  margin: 0;
  margin-right: auto;
}

.actions li {
  list-style-type: none;
  margin-right: 1rem;
}

.actions input {
  border: none;
  color: white;
  height: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1rem;
}

.submit-button {
  background: #3B98D1;
}

.clear-button {
  background: #DE3F44;
}

@media only screen and (max-width: 720px) {
  .actions {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .actions li {
    padding: 0;
    margin: 0;
  }

  .actions input {
    padding: 0;
  }

  .submit-button {
    width: 100%;
  }

  .clear-button {
    width: 100%;
    margin-top: 2rem;
  }
}
