.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.about-you {
  font-weight: bold;
  font-size: 1.6rem;
}

.red-span {
  color: var(--red);
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field input {
  width: calc(100% - 2rem);
  height: 40px;
  padding: 0px;
  padding-left: 2rem;
  font-size: 1.6rem;
  margin: 1rem 0;
  background-color: var(--secondary);
  color: white;
  border: 1px solid var(--blue);
}

.field label {
  font-size: 1.6rem;
}

#message {
  height: 30vh;
  margin: 1rem 0;
  padding: 2rem;
  background-color: var(--secondary);
  color: white;
  border: 1px solid var(--blue);
}

::placeholder {
  color: #999999;
  padding-left: 1rem;
}

.actions {
  display: flex;
  padding: 2rem 0;
  margin: 0;
  margin-right: auto;
}
.actions li {
  list-style-type: none;
  margin-right: 1rem;
}

.actions input {
  border: none;
  height: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1rem;
  color: white;
}

.submit-button {
  background: var(--blue);
}

.clear-button {
  background: var(--red);
}

.submit-button:hover,
.clear-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .actions {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .actions li {
    padding: 0;
    margin: 0;
  }

  .actions input {
    padding: 0;
  }

  .submit-button {
    width: 100%;
  }

  .clear-button {
    width: 100%;
    margin-top: 2rem;
  }
}
