#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 600px;
}

#repos a {
  max-height: 240px;
}

#github-link {
  margin: 0;
  padding: 0;
}

#github-link:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}

/* ====================FILTERS=========================== */

#github-filters-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#github-search {
  width: 28%;
  height: 40px;
  padding: 0px;
  padding-left: 2rem;
  font-size: 1.6rem;
  margin: 0 1rem;
}

#github-filters {
  margin-right: 1rem;
}

::placeholder {
  padding-left: 0;
}

.github-filter {
  border: none;
  background: white;
  border: #999999 solid 1px;
  color: black;
  height: 44px;
  font-size: 1.6rem;
  padding: 0 1rem;
  width: 154px;
}

/* ====================CARD============================ */

.github-card {
  margin: 1rem;
  text-align: center;
  width: 182px;
  min-height: 180px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.8rem;
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: black;
  border: #999999 solid 1px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.github-card h5 {
  margin: 1rem;
}

.github-card:hover {
  background: #3b98d1;
}

.github-text {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #github-filters-container {
    flex-direction: column;
  }
  #github-search {
    width: calc(100% - 4.4rem);
  }
  #github-filters {
    margin: 0 1rem;
  }
  .github-filter {
    width: 33.333333%;
  }
}

@media only screen and (max-width: 720px) {
  .github-card {
    width: 260px;
    min-height: 150px;
  }
  .github-filters-container {
    place-items: center;
  }
  #github-filters {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
  }
}
