.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  grid-gap: 1rem;
  margin: 0;
}

.portfolio-hero-wrapper {
  display: grid;
  place-items: center;
  height: calc(75vh - 100px);
  text-align: center;
}

.portfolio-hero {
  max-width: 600px;
}

.portfolio-hero h1 {
  font-size: 4rem;
}

.wiggle-flex {
  display: flex;
  justify-content: center;
}

.portfolio-hero p {
  font-size: 2rem;
}

#portfolio-button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 3rem;
  transition: 0.3s;
}

#portfolio-button:hover {
  color: black;
}

#portfolio-button-text {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

#portfolio-button-chevron {
  padding: 0;
  margin: .8rem 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#resume-btn {
  background: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  width: 17rem;
  padding: 1rem;
  border: 0;
  z-index: 5;
}

@media only screen and (max-width: 840px) {

  .portfolio-hero {
    max-width: 500px;
  }
  .portfolio-hero h1 {
    font-size: 3.5rem;
  }

  .portfolio-hero p {
    font-size: 1.8rem;
  }

  .portfolio-hero-wrapper {
    height: calc(60vh - 100px);
  }
}

@media only screen and (max-width: 720px) {
  .portfolio-hero-wrapper {
    max-height: 36rem;
  }
  .portfolio-hero {
    max-width: 450px;
  }

  .portfolio-hero h1 {
    font-size: 2.5rem;
  }

  .portfolio-hero p {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .portfolio-hero-wrapper {
    height: calc(60vh - 100px);
  }

  .project-grid {
    display: flex;
    flex-direction: column;
  }

  #portfolio-button-text {
    font-size: 1.4rem;
  }

  #portfolio-button-chevron {
    font-size: 1.3rem;
  }

  #portfolio-button {
    margin-bottom: 2.4rem;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg), scale(3); }
 25% { transform: rotate(15deg); }
 50% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(0deg); }
}

.wiggle:hover, .wiggle:focus, .wiggle:active {
  transform: scale(1.8);
  transition: 0.3s;
  animation: wiggle 1s infinite;
}
