#header-main {
  background: var(--primary);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}

#navbar-main {
  margin: 0 auto;
  max-width: 1080px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

#navbar-title-group {
  max-width: 300px;
}

#navbar-title-group:hover #navbar-title {
  text-shadow: -1px 1px 0 var(--yellow);
  transform: translate(1px, -1px);
}

#navbar-title-group:hover #navbarsub-title {
  text-shadow: -1px 1px 0 var(--yellow);
  transform: translate(1px, -1px);
}

#navbar-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 100;
}

#navbarsub-title {
  margin: 0;
  font-weight: 100;
}

.navbar-links {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-links li {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.6rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

.navbar-links li a[aria-current="page"]:after {
  transition: all ease-in-out 0.3s;
}

.navbar-links li a[aria-current="page"]:after {
  position: absolute;
  height: 2px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
  background-color: white;
  bottom: 1px;
}

#header-main a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 1rem;
}

.navbar-links a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  margin-top: 2px;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-links a:hover:after {
  width: 100%;
  left: 0;
}

.toggle-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 31px;
  height: 21px;
  z-index: 27;
}

.toggle-button .bar1,
.bar2,
.bar3,
.bar1-small,
.bar2-small,
.bar3-small {
  height: 3px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.bar1 {
  width: 65%;
  background-color: white;
}

.bar2 {
  width: 100%;
  background-color: white;
}

.bar3 {
  width: 75%;
  background-color: white;
}

.bar1-small {
  width: 40%;
  background-color: var(--blue);
}

.bar2-small {
  width: 75%;
  background-color: var(--blue);
}

.bar3-small {
  width: 50%;
  background-color: var(--blue);
}

@media only screen and (max-width: 840px) {
  #navbar-title {
    font-size: 2.3rem;
  }

  #navbarsub-title {
    font-size: 2.1rem;
  }

  .navbar-links li {
    padding-left: 18px;
    font-size: 1.4rem;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 720px) {
  #navbar-title {
    font-size: 1.7rem;
  }

  #navbarsub-title {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    top: 100px;
    margin-top: 1.5rem;
    display: none;
    width: 100%;
  }

  #navbar-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0;
    height: 56px;
  }

  #navbar-title-group {
    padding-left: 2rem;
    position: relative;
    top: 1rem;
  }

  ul.navbar-links {
    padding: 0px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid var(--blue);
    border-top: 1px solid var(--blue);
  }

  .navbar-links li {
    padding: 1.4rem 1rem;
    font-size: 1.4rem;
    background: var(--secondary);
    border-bottom: 1px solid var(--primary);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li a[aria-current="page"] {
    border-bottom: none;
  }

  #navbar-title-group {
    max-width: 180px;
  }
}
