#header-main {
  background: transparent;
  margin-bottom: 1.45rem;
}

#navbar-main {
  margin: 0 auto;
  max-Width: 1080px;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

#navbar-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

#navbarsub-title {
  margin: 0;
  font-weight: 200;
}

.navbar-links {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-links li {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.8rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

.navbar-links li a[aria-current="page"]{
  border-bottom: 2px solid white;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 1.5rem;
}

a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  margin-top:  2px;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.toggle-button {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 840px) {
  #navbar-title {
    font-size: 2.3rem;
  }

  #navbarsub-title {
    font-size: 2.1rem;
  }

  .navbar-links li {
    padding-left: 18px;
    font-size: 1.9rem;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 720px) {
  #navbar-title {
    font-size: 1.7rem;
  }

  #navbarsub-title {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    margin-top: 1rem;;
    display: none;
    width: 100%;
  }

  #navbar-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  ul.navbar-links {
    padding: 0px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .navbar-links li {
    padding: .75rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
