.project-header {
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
  text-align: center;
}

.project-header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 3rem 0 0 0;
  padding: 0;
}

.project-header h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 0 0;
}

.project-content {
  width: 100%;
  padding: 3rem 0;
  background: white;
  color: black;
}

.project-container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 3rem;
}

.project-container a {
  color: black;
}

.project-container a:visited {
  color: black;
}

/* ===============project preview============ */

.project-preview {
  text-align: center;
}

.grow {
  overflow: hidden;
}

.preview-image-grow {
  transition: all 0.3s ease-in-out;
}

.preview-image-grow:hover {
  z-index: 4;
  transform: scale(1.2);
}

.projects-text {
  display: grid;
  place-items: center;
  padding-top: 1rem;
}

.projects-text h2 {
  margin: 1rem;
}

/* ====================media queries================ */

@media only screen and (max-width: 1110px) {
  .projects-text h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  div.projects-text {
    padding: 0;
    margin: 0;
  }

  .grow {
    overflow: hidden;
  }

  .preview-image-grow {
    transition: all 0.3s ease-in-out;
  }

  .preview-image-grow:hover {
    z-index: 4;
    transform: scale(1.2);
  }
}
