@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarpanch:900");

:root {
  --primary: #183549;
  --secondary: #132738;
  --main-bg-color: #3b98d1;
  --dark-main-bg-color: rgb(19, 32, 59);
  --content-bg-color: white;
  --dark-content-bg-color: #183549;
  --font-white: white;
  --font-dark: #96f1f2;
  --yellow: #e79c10;
  --green: #7dcc93;
  --red: #d53a33;
  --darkblue: #31355b;
  --blue: #3279dd;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  color: var(--blue);
}

/* ====================SCROLL BAR================== */

/* body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: white var(--secondary);
}
body::-webkit-scrollbar-track {
  background: var(--secondary);
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  border: 3px solid var(--secondary);
} */

/* ====================SCROLL BAR================== */

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  /* background: linear-gradient(270deg, #13828a, #7e4ed4);
  background-size: 400% 400%;
  animation: background-gradient 30s ease infinite;
  -webkit-animation: background-gradient 30s ease infinite;
  -moz-animation: background-gradient 30s ease infinite; */
}

button {
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}
/*
=====================CONTAINERS================== */

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 3rem;
}

.head-container {
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
  text-align: center;
}

.head-container h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 3rem 0 0 0;
  padding: 0;
  color: white;
}

.head-container h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 0 0;
  color: var(--yellow);
}

.page-content {
  width: 100%;
  padding: 3rem 0;
  background: var(--secondary);
  color: white;
}

.page-container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 3rem;
}

.page-container a {
  color: var(--yellow);
  text-decoration: underline;
}

.page-container li {
  line-height: 3rem;
}

/* =========================FOOTER====================== */

footer {
  background: var(--primary);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#back-to-top {
  margin: 2rem;
}

#top-btn:hover {
  color: black;
}

#top-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* ================Link Highlight ============== */

.title-link {
  transition: all 0.15s ease-in-out;
  margin: 0;
  padding: 0;
}

.title-link:hover {
  text-shadow: -2px 2px 0 var(--yellow);
  transform: translate(2px, -2px);
}

@keyframes background-gradient {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-webkit-keyframes background-gradient {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes background-gradient {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@media only screen and (max-width: 720px) {
  .footer-outer {
    padding: 0 2rem;
  }
  #main-content {
    padding: 0 2rem;
  }
}
